.anuncio-container {
    width: 25%;
    /* background: blue; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 90vh;
    right: 0;
}

@media (max-width: 360px) {
    .anuncios-list {
        display: none;
    }
    .anuncio-container {
        /* background: blueviolet; */
        width: 50%;
        height: 35px;
        position: fixed;
        top: 0px;
        z-index: 1;
        right: 0;
    }
    .dropdown {
        /* background: chocolate; */
        /* outline: 2px solid black; */
        width: 100%;
        margin: 0;
        display: block;
    }
    .btn-secondary {
        /* background: chartreuse; */
        height: 45px;
        top: 0px;
        width: 154px;
        grid-column: 2/3;
        place-self: center;
    }
}
