.anuncio-container {
    width: 25%;
    /* background: blue; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 90vh;
    right: 0;
}
.anuncios-list {
    /* outline: 2px solid orchid; */
    padding: 5px 10px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.related {
    /* outline: 2px solid blue; */
    height: 90vh;
}
.related-link {
    color: black;
}
.related-post {
    list-style: none;
    display: flex;
    gap: 10px;
    height: 100px;
    /* outline: 2px solid orangered; */
}
.related-author {
    font-size: 18px;
    font-weight: bold;
}
@media (max-width: 360px) {
    .anuncios-list {
        display: none;
    }
    .anuncio-container {
        /* background: blueviolet; */
        width: 50%;
        height: 35px;
        position: fixed;
        top: 0px;
        z-index: 1;
        right: 0;
        box-shadow: none;
    }
    .menu-ajustes {
        /* background: orchid; */
        height: 420px;
        width: 200px;
        right: 0;
    }
    .btn-toggle {
        /* background: palegoldenrod; */
        width: 150px;
        height: 49px;
        margin: 0 auto;
        /* grid-column: 2/3; */
        /* place-self: center; */
    }
    .menu-btn {
        /* background: orchid; */
        /* width: 190px; */
        display: none;
    }
    img {
        width: 30%;
        height: 40%;
    }
    .related-post {
        flex-direction: column;
        gap: 0;
    }
    .related-link {
        font-size: 0.8rem;
    }
    .related-author {
        font-size: 0.9rem;
    }
    .dropdown {
        /* background: chocolate; */
        /* outline: 2px solid black; */
        width: 100%;
        margin: 0;
        display: block;
    }
    /* .btn-secondary {
        /* background: chartreuse; */
    /* height: 45px;
        top: 0px;
        width: 154px;
        grid-column: 2/3;
        place-self: center; */
    /* } */
}
