.anuncio-container {
    width: 20%;
    /* background: blue; */
}

@media (max-width: 360px) {
    .anuncio-container {
        background: blueviolet;
        width: 50%;
        height: 40px;
        position: fixed;
        top: 00px;
        z-index: 1;
        right: 0;
    }
}
